<ion-header>
  <ion-toolbar>
    <ion-title>
      About 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Vipra Ramtekkar</ion-card-subtitle>
        <ion-card-title>Full Stack Developer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-content padding>
  <ion-item>
    <ion-label>Rest Duration</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>
  <circle-progress (click)="startTime()"
  [percent]="percent"
  [radius]="radius"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#009eb4'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</ion-content>
